.homepage {
    display: flex;
    height: 100%;

    .textcontainer {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
          
        }
        
    }

    .imgcontainer {
        flex: 2;
        background-color: rgb(214, 209, 199);
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 120%;
            position: absolute;
            right: 0;
        }
    }
}
